<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Web Xml Webapp</display-name>

  <servlet>
    <servlet-name>files</servlet-name>
    <servlet-class>servlets.FileListServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>files</servlet-name>
    <url-pattern>/files</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TableExcel</servlet-name>
    <servlet-class>servlets.TableExcelServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TableExcel</servlet-name>
    <url-pattern>/files/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UploadExcelFile</servlet-name>
    <servlet-class>servlets.UploadExcelFileServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UploadExcelFile</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <location>/WEB-INF/pages/errors/error.jsp</location>
  </error-page>
</web-app>
